<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="userName" placeholder="Username" />
          <nz-form-explain *ngIf="showExplain('userName', 'required')">
            Vui lòng điền Username
          </nz-form-explain>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
          <nz-form-explain *ngIf="showExplain('password', 'required')">
            Vui lòng điền Password
          </nz-form-explain>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
      </nz-form-control>
    </nz-form-item>
  </form>
