USE [master]
GO
/****** Object:  Database [Web-TM]    Script Date: 12/9/2019 8:21:19 PM ******/
CREATE DATABASE [Web-TM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web-TM', FILENAME = N'C:\Users\ANH DAT\Web-TM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Web-TM_log', FILENAME = N'C:\Users\ANH DAT\Web-TM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web-TM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web-TM]
GO
USE [Web-TM]
GO
/****** Object:  Table [dbo].[AuthUsers]    Script Date: 12/9/2019 8:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Modified] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[AppService] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Fullname] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[BirthDate] [datetimeoffset](7) NOT NULL,
	[GenderId] [uniqueidentifier] NULL,
	[PhoneNumber] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[AvatarId] [uniqueidentifier] NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Role] [nvarchar](max) NULL,
	[DistrictId] [uniqueidentifier] NULL,
	[ProvinceId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_AuthUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 12/9/2019 8:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Modified] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[AppService] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[AuthUserId] [uniqueidentifier] NOT NULL,
	[Total] [float] NOT NULL,
	[PromotionId] [uniqueidentifier] NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetails]    Script Date: 12/9/2019 8:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Modified] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[AppService] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[CartId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_CartDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 12/9/2019 8:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Modified] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[AppService] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[AuthUserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailBills]    Script Date: 12/9/2019 8:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailBills](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Modified] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[AppService] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[BillId] [uniqueidentifier] NULL,
	[Amount] [int] NOT NULL,
	[PriceTotal] [float] NOT NULL,
	[AuthUserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DetailBills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 12/9/2019 8:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Modified] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[AppService] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NULL,
	[ParentId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetadataTypes]    Script Date: 12/9/2019 8:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetadataTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Modified] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[AppService] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_MetadataTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetadataValues]    Script Date: 12/9/2019 8:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetadataValues](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Modified] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[AppService] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NULL,
	[TypeId] [uniqueidentifier] NULL,
	[ParentId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MetadataValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/9/2019 8:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Modified] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[AppService] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[ProducerId] [uniqueidentifier] NULL,
	[Name] [nvarchar](255) NULL,
	[Price] [float] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsSell] [bit] NOT NULL,
	[LogoId] [nvarchar](500) NULL,
	[MenuId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 12/9/2019 8:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Modified] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[AppService] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NULL,
	[DisCount] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[BillId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewProducts]    Script Date: 12/9/2019 8:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewProducts](
	[Id] [uniqueidentifier] NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Modified] [datetimeoffset](7) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[AppService] [nvarchar](255) NULL,
	[IsActivated] [bit] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[AuthUserId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_ReviewProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Bills] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [AuthUserId], [Total], [PromotionId], [Status]) VALUES (N'fbcd7555-da79-44ef-3720-08d77be3a4ce', CAST(N'2019-12-08T20:36:34.8872908+07:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, 0, N'8bc8322d-aa07-4ff4-7398-08d779a246b0', 60980000, NULL, N'Đã Duyệt')
INSERT [dbo].[Bills] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [AuthUserId], [Total], [PromotionId], [Status]) VALUES (N'43f3eb2b-4b30-479c-3721-08d77be3a4ce', CAST(N'2019-12-08T20:37:05.6934504+07:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, 0, N'8bc8322d-aa07-4ff4-7398-08d779a246b0', 33990000, NULL, N'Chờ Duyệt')
INSERT [dbo].[DetailBills] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [ProductId], [BillId], [Amount], [PriceTotal], [AuthUserId]) VALUES (N'1e184f30-872d-4f46-6d7a-08d77be337bf', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, 1, N'a3b619e5-e3b4-426a-e8a0-08d777101df0', N'fbcd7555-da79-44ef-3720-08d77be3a4ce', 1, 26990000, N'8bc8322d-aa07-4ff4-7398-08d779a246b0')
INSERT [dbo].[DetailBills] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [ProductId], [BillId], [Amount], [PriceTotal], [AuthUserId]) VALUES (N'b12c056d-7e2e-4589-cd46-08d77be3a099', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, 1, N'c762aff7-62d7-4379-e89a-08d777101df0', N'fbcd7555-da79-44ef-3720-08d77be3a4ce', 1, 33990000, N'8bc8322d-aa07-4ff4-7398-08d779a246b0')
INSERT [dbo].[DetailBills] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [ProductId], [BillId], [Amount], [PriceTotal], [AuthUserId]) VALUES (N'38639d3b-a359-40e2-cd47-08d77be3a099', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, 1, N'c762aff7-62d7-4379-e89a-08d777101df0', N'43f3eb2b-4b30-479c-3721-08d77be3a4ce', 1, 33990000, N'8bc8322d-aa07-4ff4-7398-08d779a246b0')
INSERT [dbo].[Menus] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [Code], [Name], [ParentId]) VALUES (N'3fefd672-b145-4f27-ca25-08d7770da906', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, 0, N'PHONE', N'ĐIỆN THOẠI', NULL)
INSERT [dbo].[Menus] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [Code], [Name], [ParentId]) VALUES (N'10b9d743-a937-4ec2-ca26-08d7770da906', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, 0, N'P_APPLE', N'Apple', N'3fefd672-b145-4f27-ca25-08d7770da906')
INSERT [dbo].[Menus] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [Code], [Name], [ParentId]) VALUES (N'c01259f9-9d16-4428-ca27-08d7770da906', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, 0, N'P_SAMSUNG', N'Samsung', N'3fefd672-b145-4f27-ca25-08d7770da906')
INSERT [dbo].[MetadataTypes] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [Code], [Name]) VALUES (N'e2c911e9-8cc8-48a6-c0cc-08d7766b661b', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, 1, N'PRODUCER', N'Nhà Sản Xuất')
INSERT [dbo].[MetadataTypes] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [Code], [Name]) VALUES (N'48cae7a7-3233-4afb-8213-4a6e31a35e6c', CAST(N'2019-11-20T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2019-11-20T00:00:00.0000000+00:00' AS DateTimeOffset), N'admin', N'admin', NULL, 1, N'GENDER', N'Giới Tính')
INSERT [dbo].[MetadataTypes] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [Code], [Name]) VALUES (N'40838a3f-2627-46d4-8f56-765a8dfc0a43', CAST(N'2019-09-16T15:04:52.4683889+07:00' AS DateTimeOffset), CAST(N'2019-09-16T15:04:52.4683942+07:00' AS DateTimeOffset), N'admin', N'admin', NULL, 1, N'NATIONAL', N'Quốc gia')
INSERT [dbo].[MetadataValues] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [Code], [Name], [TypeId], [ParentId]) VALUES (N'e4c78684-f8db-4c8f-a984-06016b35e9d0', CAST(N'2019-09-16T15:07:08.3862404+07:00' AS DateTimeOffset), CAST(N'2019-09-16T15:07:08.3862411+07:00' AS DateTimeOffset), N'admin', N'admin', NULL, 1, N'43', N'Ninh Thuận', N'57d3e4f7-65c9-447b-8e45-990bd4191cff', NULL)
INSERT [dbo].[MetadataValues] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [Code], [Name], [TypeId], [ParentId]) VALUES (N'ddaef162-3ed3-4b01-ac9d-08c17a0d1c5b', CAST(N'2019-09-16T15:07:08.3730201+07:00' AS DateTimeOffset), CAST(N'2019-09-16T15:07:08.3730208+07:00' AS DateTimeOffset), N'admin', N'admin', NULL, 1, N'27', N'Hải Dương', N'57d3e4f7-65c9-447b-8e45-990bd4191cff', NULL)
INSERT [dbo].[MetadataValues] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [Code], [Name], [TypeId], [ParentId]) VALUES (N'2cdaac38-52cf-4d9b-ea27-08d7766c5aa5', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, 1, N'P01', N'Apple', N'e2c911e9-8cc8-48a6-c0cc-08d7766b661b', NULL)
GO
INSERT [dbo].[Promotions] ([Id], [Created], [Modified], [CreatedBy], [ModifiedBy], [AppService], [IsActivated], [Code], [Name], [DisCount], [Description], [BillId]) VALUES (N'1cff3f97-ec98-4f9a-e404-08d77736a69f', CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, 0, N'GS_19_01', N'Vui Cùng Giáng Sinh', 15, N'Áp dụng cho 1 sản phẩm', NULL)
/****** Object:  Index [IX_AuthUsers_DistrictId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuthUsers_DistrictId] ON [dbo].[AuthUsers]
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthUsers_GenderId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuthUsers_GenderId] ON [dbo].[AuthUsers]
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthUsers_ProvinceId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuthUsers_ProvinceId] ON [dbo].[AuthUsers]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bills_AuthUserId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bills_AuthUserId] ON [dbo].[Bills]
(
	[AuthUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartDetails_CartId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_CartDetails_CartId] ON [dbo].[CartDetails]
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartDetails_ProductId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_CartDetails_ProductId] ON [dbo].[CartDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Carts_AuthUserId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Carts_AuthUserId] ON [dbo].[Carts]
(
	[AuthUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetailBills_BillId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_DetailBills_BillId] ON [dbo].[DetailBills]
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetailBills_ProductId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_DetailBills_ProductId] ON [dbo].[DetailBills]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Menus_ParentId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Menus_ParentId] ON [dbo].[Menus]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MetadataValues_ParentId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_MetadataValues_ParentId] ON [dbo].[MetadataValues]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MetadataValues_TypeId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_MetadataValues_TypeId] ON [dbo].[MetadataValues]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_MenuId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_MenuId] ON [dbo].[Products]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_ProducerId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_ProducerId] ON [dbo].[Products]
(
	[ProducerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Promotions_BillId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_BillId] ON [dbo].[Promotions]
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewProducts_AuthUserId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReviewProducts_AuthUserId] ON [dbo].[ReviewProducts]
(
	[AuthUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewProducts_ProductId]    Script Date: 12/9/2019 8:21:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReviewProducts_ProductId] ON [dbo].[ReviewProducts]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuthUsers]  WITH CHECK ADD  CONSTRAINT [FK_AuthUsers_MetadataValues_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[MetadataValues] ([Id])
GO
ALTER TABLE [dbo].[AuthUsers] CHECK CONSTRAINT [FK_AuthUsers_MetadataValues_DistrictId]
GO
ALTER TABLE [dbo].[AuthUsers]  WITH CHECK ADD  CONSTRAINT [FK_AuthUsers_MetadataValues_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[MetadataValues] ([Id])
GO
ALTER TABLE [dbo].[AuthUsers] CHECK CONSTRAINT [FK_AuthUsers_MetadataValues_GenderId]
GO
ALTER TABLE [dbo].[AuthUsers]  WITH CHECK ADD  CONSTRAINT [FK_AuthUsers_MetadataValues_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[MetadataValues] ([Id])
GO
ALTER TABLE [dbo].[AuthUsers] CHECK CONSTRAINT [FK_AuthUsers_MetadataValues_ProvinceId]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_AuthUsers_AuthUserId] FOREIGN KEY([AuthUserId])
REFERENCES [dbo].[AuthUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_AuthUsers_AuthUserId]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_Carts_CartId]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_AuthUsers_AuthUserId] FOREIGN KEY([AuthUserId])
REFERENCES [dbo].[AuthUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_AuthUsers_AuthUserId]
GO
ALTER TABLE [dbo].[DetailBills]  WITH CHECK ADD  CONSTRAINT [FK_DetailBills_Bills_BillId] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bills] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetailBills] CHECK CONSTRAINT [FK_DetailBills_Bills_BillId]
GO
ALTER TABLE [dbo].[DetailBills]  WITH CHECK ADD  CONSTRAINT [FK_DetailBills_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetailBills] CHECK CONSTRAINT [FK_DetailBills_Products_ProductId]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menus_Menus_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menus_Menus_ParentId]
GO
ALTER TABLE [dbo].[MetadataValues]  WITH CHECK ADD  CONSTRAINT [FK_MetadataValues_MetadataTypes_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[MetadataTypes] ([Id])
GO
ALTER TABLE [dbo].[MetadataValues] CHECK CONSTRAINT [FK_MetadataValues_MetadataTypes_TypeId]
GO
ALTER TABLE [dbo].[MetadataValues]  WITH CHECK ADD  CONSTRAINT [FK_MetadataValues_MetadataValues_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[MetadataValues] ([Id])
GO
ALTER TABLE [dbo].[MetadataValues] CHECK CONSTRAINT [FK_MetadataValues_MetadataValues_ParentId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Menus_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Menus_MenuId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_MetadataValues_ProducerId] FOREIGN KEY([ProducerId])
REFERENCES [dbo].[MetadataValues] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_MetadataValues_ProducerId]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FK_Promotions_Bills_BillId] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bills] ([Id])
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FK_Promotions_Bills_BillId]
GO
ALTER TABLE [dbo].[ReviewProducts]  WITH CHECK ADD  CONSTRAINT [FK_ReviewProducts_AuthUsers_AuthUserId] FOREIGN KEY([AuthUserId])
REFERENCES [dbo].[AuthUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewProducts] CHECK CONSTRAINT [FK_ReviewProducts_AuthUsers_AuthUserId]
GO
ALTER TABLE [dbo].[ReviewProducts]  WITH CHECK ADD  CONSTRAINT [FK_ReviewProducts_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewProducts] CHECK CONSTRAINT [FK_ReviewProducts_Products_ProductId]
GO
USE [master]
GO
